<!DOCTYPE html>
<html lang = "en" >
<head>
  <meta charset = "UTF-8">
  <title>DermaAssist</title>
  <link rel = 'stylesheet' href = 'https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css'>

</head>
<body  class = "bg-gray-900">
  <header class = "text-gray-400 bg-gray-900 body-font">
    <div class = "container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a onclick = "window.location.href='/'" class = "flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg xmlns = "http://www.w3.org/2000/svg" fill = "none" stroke = "currentColor" stroke-linecap = "round" stroke-linejoin = "round" stroke-width = "2" class = "w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox = "0 0 24 24">
          <path d = "M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class = "ml-3 text-xl">DermaAssist</span>
      </a>
      <nav class = "md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class = "mr-5 hover:text-white"></a>
        <a class = "mr-5 hover:text-white"></a>
        <a class = "mr-5 hover:text-white"></a>
        <a class = "mr-5 hover:text-white"></a>
      </nav>
    
    <form action = "/getstarted" method="POST">
      <button class = "inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Get Started
        <svg fill = "none" stroke = "currentColor" stroke-linecap = "round" stroke-linejoin = "round" stroke-width = "2" class = "w-4 h-4 ml-1" viewBox = "0 0 24 24">
          <path d = "M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button> 
    </a> 
  </form>
    </div>
  </header>

  <section class = "text-gray-400 bg-gray-900 body-font">
    <div class = "container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class = "lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class = "title-font sm:text-4xl text-3xl mb-4 font-medium text-white">DermaAssist
          <br class = "hidden lg:inline-block">Your AI assistant
        </h1>
        <p class = "mb-8 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt efficitur ultrices. Nullam ac risus ipsum. Integer et scelerisque sapien. Integer vitae mattis ligula. Donec viverra, turpis sed pharetra venenatis, sem metus rutrum leo, ut suscipit neque purus a orci. Praesent hendrerit augue at ultricies eleifend. </p>
        <div class = "flex justify-center">
            <a href = "/login" class = "inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Login</a>
            <a href = "/signup" type = "submit" class = "ml-4 inline-flex text-gray-400 bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg">Sign Up</a>
        </div>
      </div>
      <div class = "lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <script src = "https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src = "https://assets9.lottiefiles.com/packages/lf20_Lzn9WH2s3i.json"  background = "transparent"  speed = "1"  style = "width: 500px; height: 500px;"  loop  autoplay></lottie-player>
      </div>
    </div>
  </section>
</body>
</html>
  </body>  
</html>